
.launches {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 10px;
  overflow: auto;
  max-height: 500px;

  &::-webkit-scrollbar {
    width: 10px; /* ширина всей полосы прокрутки */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #EAEAEA; /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
    border: 3px solid #EAEAEA; /* отступ вокруг бегунка */
  }
}

.loading {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}